@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "ArbFONTS";
  src: url("~@/assets/fonts/ArbFONTS-FFShamelFamily-SansOneBook.woff")
    format("woff");
}
@font-face {
  font-family: "ArbFONTS-bold";
  src: url("~@/assets/fonts/ArbFONTS-FFShamelFamily-SansOneBold.ttf")
    format("truetype");
}
