@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "ArbFONTS";
  src: url("~@/assets/fonts/ArbFONTS-FFShamelFamily-SansOneBook.woff")
    format("woff");
}
$font-family: "ArbFONTS" !important;
// $font-family: Cairo !important;
$main-color: #09bab5;
$main-bg-color: #0b0a31;
$main-color-alt: #e56299;
$main-transition: 0.4s;

$section-background: #fff;
@mixin header-section {
  background: #ffaccf;
  border-radius: 50px;
  padding: 10px 5px;
  width: 110px;
  height: 40px;
  text-align: center;

  color: #ec52b3;
  font-size: 16px;
  font-family: Cairo;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "ArbFONTS", Cairo;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid $main-color;
  padding: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
button,
a,
.router-link {
  font-family: $font-family;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .container {
    width: 98% !important;
  }
}
